@import '../ext-theme-bootstrap/resources/css/bootstrap.css';

.x-btn-icon-el {
    width: 20px;
    position: absolute;
    margin-top:-16px;
    background: center center no-repeat;
}

.x-btn-primary-toolbar-small .x-btn-inner, .x-btn-primary-toolbar-medium .x-btn-inner,
.x-btn-danger-toolbar-small .x-btn-inner, .x-btn-danger-toolbar-medium .x-btn-inner,
.x-btn-success-toolbar-small .x-btn-inner, .x-btn-success-toolbar-medium .x-btn-inner,
.x-btn-inverse-toolbar-small .x-btn-inner,.x-btn-inverse-toolbar-medium .x-btn-inner,
.x-btn-warning-toolbar-small .x-btn-inner, .x-btn-warning-toolbar-medium .x-btn-inner,
.x-btn-info-toolbar-small .x-btn-inner, .x-btn-info-toolbar-medium .x-btn-inner {
    color: #fff;   
}

.x-btn-reload-toolbar-small .x-btn-inner,.x-btn-reload-small .x-btn-inner, .x-btn-reload-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -23px !important;
}

.x-btn-edit-toolbar-small .x-btn-inner,.x-btn-edit-small .x-btn-inner, .x-btn-edit-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: 0 -70px !important;
}

.x-btn-download-toolbar-small .x-btn-inner,.x-btn-download-small .x-btn-inner, .x-btn-download-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -92px -23px !important;
}

.x-btn-prev-toolbar-small .x-btn-inner,.x-btn-prev-small .x-btn-inner, .x-btn-prev-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -189px -65px !important;
}

.x-btn-prev1-toolbar-small .x-btn-inner,.x-btn-prev1-small .x-btn-inner, .x-btn-prev1-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -213px -65px !important;
}

.x-btn-next-toolbar-small .x-btn-inner,.x-btn-next-small .x-btn-inner, .x-btn-next-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -382px -65px !important;
}

.x-btn-next1-toolbar-small .x-btn-inner,.x-btn-next1-small .x-btn-inner, .x-btn-next1-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -357px -65px !important;
}

.x-btn-menu-toolbar-small .x-btn-inner,.x-btn-menu-small .x-btn-inner, .x-btn-menu-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -329px -45px !important;
}

.clear-filters {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -309px 0px !important;
}

.filter {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -45px 0px !important;
}

.editor {
min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/pencil.png') !important;
background-position: center !important;
background-repeat: no-repeat !important;
}


.x-btn-remove-toolbar-small .x-btn-inner, .x-btn-remove-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -453px 0 !important;
}

.forw, .x-btn-forw-toolbar-small .x-btn-inner, .x-btn-forw-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -260px -93px !important;
}

.x-btn-clean-toolbar-small .x-btn-inner, .x-btn-clean-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/cleaner.png') !important;
background-position: center !important;
}

.remove {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -453px 0 !important;
}

.x-edit-bold, .x-edit-italic, .x-edit-underline, .x-edit-increasefontsize, .x-edit-decreasefontsize, .x-edit-forecolor, .x-edit-backcolor, .x-edit-justifyleft, .x-edit-justifycenter, .x-edit-justifyright, .x-edit-createlink, .x-edit-insertorderedlist, .x-edit-insertunorderedlist {
    background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;    
}

.reply, .x-btn-reply-toolbar-small .x-btn-inner, .x-btn-reply-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/reply.png') !important;
background-position: center !important;
}

.replyall {
background: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/reply_all.png') center no-repeat !important;
}

.x-tab-button, .x-tab-button:hover {
    color: #333;
    text-decoration: none;
}


.x-btn-button:hover {
    text-decoration: none;
}

.x-window-maximized {
    webkit-border-radius: 0 !important;
    border-radius:  0 !important;
}

.x-datepicker {
    width: 210px;
}

.x-tree-lines .x-tree-elbow-end-plus, .x-tree-lines .x-tree-elbow-plus {
background-position: 1px -93px;
}

.x-grid-cell-special, .x-grid-cell-checkcolumn, .x-action-col-cell {
  vertical-align: top;
}
.x-grid-cell-checkcolumn .x-grid-cell-inner {
  padding-top: 4px !important;
  padding-bottom: 0!important;
}


.x-grid-checkcolumn {
  width: 15px;
  height: 15px;
  background: url(../ext-theme-bootstrap/theme/images/bootstrap/form/checkbox.png) 0 0 no-repeat;
}
.x-item-disabled .x-grid-checkcolumn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.x-grid-checkcolumn-checked {
  background-position: 0 -15px;
}

.x-tbar-loading {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -23px !important;
}

.x-tbar-page-first {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -215px -71px !important;
}

.x-tbar-page-prev {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -71px !important;
}

.x-tbar-page-next {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -335px -71px !important;
}

.x-tbar-page-last {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -359px -71px !important;
}

.printer {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -95px -48px !important;
}

.mail {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -70px 0 !important;
}



.x-form-clear-trigger {
background-position: -310px 2px;
}

.x-form-search-trigger {
background-position: -46px 2px;
}

.x-tab-inner {
margin: 0 5px;
}


.x-grid-row-selected .x-grid-td {
  border-style: dotted;
  border-color: #ddd;
  background-color: #efefef !important;
}

.x-grid-row-selected .x-grid-row-summary .x-grid-td {
  border-bottom-color: #9a9a9a !important;
  border-top-width: 0!important;
}

.x-grid-row-selected .x-grid-cell-special {
  background-color: #ddd;
}
.x-grid-row-selected .x-grid-rowbody {
  background-color: #ddd !important;
}
.x-grid-row-selected .x-grid-row-checker {
  background-position: 0 -15px;
}

.x-grid-row-focused .x-grid-rowwrap .x-grid-cell {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}
.x-grid-row-focused .x-grid-td {
  border-top: 1px solid #e2eff8 !important;
  border-bottom: 1px solid #e2eff8 !important;
  background-color: #e2eff8;
}

.x-grid-row-focused .x-grid-row-summary .x-grid-td {
  border-bottom-color: #e2eff8 !important;
  border-top-width: 0!important;
}

.ux-desktop-shortcut {
    background: rgba(107, 134, 141, 0.34);
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.54);  
}

.ux-desktop-shortcut:hover {
    background: rgba(107, 134, 141, 0.84);
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 1);  
}

.ux-desktop-shortcut:hover .ux-desktop-shortcut-text {
    text-decoration: none !important;
}

.x-btn-success-toolbar-medium {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 14px 4px 14px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #51a351;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #51a351));
    background-image: -webkit-linear-gradient(top, #62c462,#51a351);
    background-image: -moz-linear-gradient(top, #62c462,#51a351);
    background-image: -o-linear-gradient(top, #62c462,#51a351);
    background-image: linear-gradient(top, #62c462,#51a351);
}

.x-menu-item .x-edit-backcolor, .x-html-editor-tb .x-edit-backcolor {
background-position: -143px 0 !important;
}

.x-menu-item .x-edit-forecolor, .x-html-editor-tb .x-edit-forecolor {
background-position: -119px 0 !important;
}

element.style {
}

.x-tool-expand-top, .x-tool-collapse-top {
background-position: -287px -119px;
}

.x-monthpicker-yearnav {
    margin: 0 auto;    
}

.x-monthpicker-yearnav div {
    position: relative; 
    width: 50%;
    display: inline-block;
}

.x-monthpicker-yearnav div:first-child {
    text-align: right;    
}

.x-monthpicker-yearnav div a {
    margin: 5px;
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
}
.x-monthpicker-yearnav div a.x-monthpicker-yearnav-prev {
    background-position: -431px -72px;
}

.x-monthpicker-yearnav div a.x-monthpicker-yearnav-next {
    background-position: -455px -72px;
}

/* Main GroupTabPanel style */
.x-grouptabpanel {
    background-color: #b8b8b8;
    border: solid 15px #b8b8b8;
}
/* End of GroupTabPanel style */

/* Card Layout container */
.x-grouptabcontainer {
    background-color: white;
    border-top: 1px solid #d9d9d9 !important;    
    border-bottom: 1px solid #d9d9d9 !important;
    border-right: 1px solid #d9d9d9 !important;
}
/* End of Card Layout container */

.x-grouptabpanel .x-grouptab .x-grid-cell-inner  {
    font-family: tahoma, arial, sans-serif;
    text-decoration: none!important;
}

.x-grouptabpanel .x-grouptab-first .x-grid-cell-inner  {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}

.x-grouptabbar .x-grid-row .x-grid-cell {
    background-color: transparent;
    padding-left: 6px;
}

.x-grouptabbar .x-grid-cell-inner  {
    color: #ffffff;
}

.x-grouptabpanel .x-active-group .x-grid-cell-inner  {
    color: #4d4d4d;
}

.x-grouptabbar .x-grouptab {
    line-height: 24px;
    background-color: transparent;
    font-size: 12px;
    position: relative;
    padding-left: 6px;
    padding-bottom: 2px;
    overflow: visible; /* To allow round corner blobs (.x-grouptabs-corner) to occlude the element border */
}

.x-grouptabbar .x-grouptab-first {
    padding-top: 6px;
}

.x-grouptabbar .x-grouptab-last {
    margin-bottom: 3px;
}


.x-grouptabbar .x-tree-elbow-line, 
.x-grouptabbar .x-tree-elbow-empty {
    width: 0;
}

.x-grouptabbar .x-active-group .x-grouptab {
    background-color: white!important;
    border: 0 none!important;
}

.x-grouptabbar .x-active-group .x-grouptab-first {
    border-top: 1px solid #d9d9d9!important;
}

.x-grouptabbar .x-active-group .x-grouptab-center {
    border-left: 1px solid #d9d9d9!important;
}

.x-grouptabbar .x-active-group .x-grouptab-last {
    border-bottom: 1px solid #d9d9d9!important;
    padding-bottom: 3px;
}

.x-grouptabbar .x-active-group .x-grouptab-first,
.x-grouptabbar .x-active-group .x-grouptab-last {
    border-left: 1px solid #d9d9d9!important;
    border-radius: 5px 0 0 5px;
}

.x-grouptab-cell {
    border: 0 none!important;
}

/* Tab corners */
.x-grouptabbar .x-grouptabs-corner {
    background-image: url('images/x-grouptabs-corners.gif');
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    font-size: 1px;
    line-height: 6px;
    overflow: hidden;
    zoom:1;
}

.x-grouptabbar .x-grouptabs-corner {
    display: none;
}

.x-grouptabbar .x-active-group .x-grouptab-first .x-grouptabs-corner-top-left,
.x-grouptabbar .x-active-group .x-grouptab-last .x-grouptabs-corner-bottom-left {
    display: block;
}

.x-grouptabbar .x-grouptabs-corner-top-left {
    background-position: top left;
    left: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-left {
    background-position: bottom left;
    left: 0; bottom: 0;
}
.x-grouptabbar .x-grouptabs-corner-top-right {
    background-position: top right;
    right: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-right {
    background-position: bottom right;
    right: 0; bottom: 0;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-left{
    bottom: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-right{
    bottom: -4px; right: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-left{
    top: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-right{
    top: -4px; right: -4px;
}

.x-grouptabbar .x-tree-panel .x-grid-cell {
    overflow: visible;
}

.x-grouptabbar .x-panel-body  {
    background-color: #b8b8b8;
}

.x-grouptabbar {
    top: 0 !important;
    margin-top: -1px !important;
}

.x-strict .x-ie7 .x-grouptabbar, .x-strict .x-ie6 .x-grouptabbar {
    margin-top: -2px !important;
}

.x-grouptabbar .x-grouptab .x-tree-icon-parent {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-elbow,
.x-grouptabbar .x-grouptab .x-tree-elbow-end {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-plus-nl.gif') no-repeat;
}

.x-grouptabbar .x-grid-tree-node-expanded .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-minus-nl.gif') no-repeat;
}

.x-window-maximized {
    border-radius: none !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
}

.x-window-maximized > .x-window-header {
    border-radius: none !important;
    border: none !important;
    box-shadow: none !important;
}

.x-panel {
    margin: 0!important;
    padding: 0!important;
}

.x-grid-header-ct {
    border: 1px solid #ddd !important; 
}

.x-grid-body {
    border: none !important;
}

.x-grid .x-toolbar-docked-bottom {
   border: 1px solid #ddd !important; 
}



#topBar {
    background: #000;
}

#botBar {
    background: #ddd;  
    
}

#topBar-innerCt .x-btn-default-toolbar-medium .x-btn-inner {
  color: #fff;
  text-shadow: none;
}

#aboutLabel {
  color: #fff;
  font-size: 25px;
  text-shadow: none; 
  font-family: fantasy;
}