@import '../ext-theme-neptune/ext-theme-neptune-all.css';

.x-btn-icon-el {
    width: 20px;
    position: absolute;
    background: center center no-repeat;
}



.x-btn-reload-toolbar-small .x-btn-inner,.x-btn-reload-small .x-btn-inner, .x-btn-reload-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -23px !important;
}

.x-btn-edit-toolbar-small .x-btn-inner,.x-btn-edit-small .x-btn-inner, .x-btn-edit-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: 0 -70px !important;
}

.x-btn-download-toolbar-small .x-btn-inner,.x-btn-download-small .x-btn-inner, .x-btn-download-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -92px -23px !important;
}



.x-btn-menu-toolbar-small .x-btn-inner,.x-btn-menu-small .x-btn-inner, .x-btn-menu-medium .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -329px -45px !important;
}

.clear-filters {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -309px 0px !important;
}

.filter {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -45px 0px !important;
}

.editor {
min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/pencil.png') !important;
background-position: center !important;
background-repeat: no-repeat !important;
}


.x-btn-remove-toolbar-small .x-btn-inner, .x-btn-remove-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -453px 0 !important;
}

.forw, .x-btn-forw-toolbar-small .x-btn-inner, .x-btn-forw-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -260px -93px !important;
}

.x-btn-clean-toolbar-small .x-btn-inner, .x-btn-clean-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/cleaner.png') !important;
background-position: center !important;
}

.remove {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -453px 0 !important;
}


.reply, .x-btn-reply-toolbar-small .x-btn-inner, .x-btn-reply-small .x-btn-inner {
    min-width: 20px;
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/reply.png') !important;
background-position: center !important;
}

.replyall {
background: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/reply_all.png') center no-repeat !important;
}


.printer {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -95px -48px !important;
}

.mail {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -70px 0 !important;
}




.ux-desktop-shortcut {
    background: rgba(107, 134, 141, 0.34);
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.54);  
}

.ux-desktop-shortcut:hover {
    background: rgba(107, 134, 141, 0.84);
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 1);  
}

.ux-desktop-shortcut:hover .ux-desktop-shortcut-text {
    text-decoration: none !important;
}

.x-btn-success-toolbar-medium, .x-btn-primary-toolbar-medium, .x-btn-success-medium, .x-btn-primary-medium {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #3892d3;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4b9cd7),color-stop(50%,#3892d3),color-stop(51%,#358ac8),color-stop(100%,#3892d3));
  background-image: -webkit-linear-gradient(top,#4b9cd7,#3892d3 50%,#358ac8 51%,#3892d3);
  background-image: -moz-linear-gradient(top,#4b9cd7,#3892d3 50%,#358ac8 51%,#3892d3);
  background-image: -o-linear-gradient(top,#4b9cd7,#3892d3 50%,#358ac8 51%,#3892d3);
  background-image: linear-gradient(top,#4b9cd7,#3892d3 50%,#358ac8 51%,#3892d3);

  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  padding: 4px 10px;
  
    
}

.x-btn-remove-small, .x-btn-remove-toolbar-small {
    width: 17px!important;    
}


.x-tbar-loading {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -23px !important;
}

.x-tbar-page-first {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -215px -71px !important;
}

.x-tbar-page-prev {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -239px -71px !important;
}

.x-tbar-page-next {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -335px -71px !important;
}

.x-tbar-page-last {
background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png') !important;
background-position: -359px -71px !important;
}

.x-tab-close-btn {
  position: absolute;
  top: 10px;
  right: 2px;
  width: 14px;
  height: 14px;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
  background-image: url('../ext-theme-bootstrap/theme/images/bootstrap/glyphicons/glyphicons-halflings.png');
  background-position: -312px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.x-boxselect-item {
  padding: 1px 1px 1px 5px !important;
}

/* Main GroupTabPanel style */
.x-grouptabpanel {
    background-color: #157fcc;
    border: solid 15px #157fcc;
}
/* End of GroupTabPanel style */

/* Card Layout container */
.x-grouptabcontainer {
    background-color: white;
    border-top: 1px solid #d9d9d9 !important;    
    border-bottom: 1px solid #d9d9d9 !important;
    border-right: 1px solid #d9d9d9 !important;
}
/* End of Card Layout container */

.x-grouptabpanel .x-grouptab .x-grid-cell-inner  {
    font-family: tahoma, arial, sans-serif;
    text-decoration: none!important;
}

.x-grouptabpanel .x-grouptab-first .x-grid-cell-inner  {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}

.x-grouptabbar .x-grid-row .x-grid-cell {
    background-color: transparent;
    padding-left: 6px;
}

.x-grouptabbar .x-grid-cell-inner  {
    color: #ffffff;
}

.x-grouptabpanel .x-active-group .x-grid-cell-inner  {
    color: #4d4d4d;
}

.x-grouptabbar .x-grouptab {
    line-height: 24px;
    background-color: transparent;
    font-size: 12px;
    position: relative;
    padding-left: 6px;
    padding-bottom: 2px;
    overflow: visible; /* To allow round corner blobs (.x-grouptabs-corner) to occlude the element border */
}

.x-grouptabbar .x-grouptab-first {
    padding-top: 6px;
}

.x-grouptabbar .x-grouptab-last {
    margin-bottom: 3px;
}


.x-grouptabbar .x-tree-elbow-line, 
.x-grouptabbar .x-tree-elbow-empty {
    width: 0;
}

.x-grouptabbar .x-active-group .x-grouptab {
    background-color: white!important;
    border: 0 none!important;
}

.x-grouptabbar .x-active-group .x-grouptab-first {
    border-top: 1px solid #d9d9d9!important;
}

.x-grouptabbar .x-active-group .x-grouptab-center {
    border-left: 1px solid #d9d9d9!important;
}

.x-grouptabbar .x-active-group .x-grouptab-last {
    border-bottom: 1px solid #d9d9d9!important;
    padding-bottom: 3px;
}

.x-grouptabbar .x-active-group .x-grouptab-first,
.x-grouptabbar .x-active-group .x-grouptab-last {
    border-left: 1px solid #d9d9d9!important;
    border-radius: 5px 0 0 5px;
}

.x-grouptab-cell {
    border: 0 none!important;
}

/* Tab corners */
.x-grouptabbar .x-grouptabs-corner {
    background-image: url('images/x-grouptabs-corners.gif');
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    font-size: 1px;
    line-height: 6px;
    overflow: hidden;
    zoom:1;
}

.x-grouptabbar .x-grouptabs-corner {
    display: none;
}

.x-grouptabbar .x-active-group .x-grouptab-first .x-grouptabs-corner-top-left,
.x-grouptabbar .x-active-group .x-grouptab-last .x-grouptabs-corner-bottom-left {
    display: block;
}

.x-grouptabbar .x-grouptabs-corner-top-left {
    background-position: top left;
    left: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-left {
    background-position: bottom left;
    left: 0; bottom: 0;
}
.x-grouptabbar .x-grouptabs-corner-top-right {
    background-position: top right;
    right: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-right {
    background-position: bottom right;
    right: 0; bottom: 0;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-left{
    bottom: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-right{
    bottom: -4px; right: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-left{
    top: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-right{
    top: -4px; right: -4px;
}

.x-grouptabbar .x-tree-panel .x-grid-cell {
    overflow: visible;
}

.x-grouptabbar .x-panel-body  {
    background-color: #157fcc;
}

.x-grouptabbar {
    top: 0 !important;
    margin-top: -1px !important;
}

.x-strict .x-ie7 .x-grouptabbar, .x-strict .x-ie6 .x-grouptabbar {
    margin-top: -2px !important;
}

.x-grouptabbar .x-grouptab .x-tree-icon-parent {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-elbow,
.x-grouptabbar .x-grouptab .x-tree-elbow-end {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-plus-nl.gif') no-repeat;
}

.x-grouptabbar .x-grid-tree-node-expanded .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-minus-nl.gif') no-repeat;
}